# dependencias
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# nativo (si se hace prebuild/eject)
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# logs de instalación/debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.log*

# macOS / editores
.DS_Store
*.pem
.vscode/

# variables de entorno locales
.env
.env*.local

# typescript
*.tsbuildinfo
